.player-item {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    overflow: hidden;

    max-height: calc(100% - 10px);

    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;

    background-color: lightsteelblue;
}

.player-item:not(:last-of-type) {
    margin-right: 10px;
}

.player-name {
    margin: 0;
    padding: 0;
}

.player-item-header {
    display: flex;
    padding: 5px 0;

    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid gray;

    background-color: #230745;
    color: #fff;
}

.player-item-row {
    padding: 3px 5px;
}

.cards-list {
    height: calc(100% - 100px);

    overflow: auto;

    background-color: aliceblue;
}

.cards-form-wrapper {
    border-top: 1px solid gray;

    color: #fff;
}

@media screen and (orientation:portrait) {
    .player-item {
        width: 40%;
    }
}
@media screen and (orientation:landscape) {
    .player-item {
        width: 20%;
    }
}